:root{
   --main:#2E2F42;
   --white: #FFFFFF;
   --acent:#4D5AE5;
   --hover:#404BBF;
   --backgound-secondary: #F4F4FD;
   --secondary: #434455;
   --border: #E7E9FC;
   --clint-icon:#8E8F99;
}
/*main*/
body {
   box-sizing: content-box;
   font-family: 'Roboto', sans-serif;
   color:var(--main);
   line-height: 1.5;
   letter-spacing: 0.02em;
   font-size: 16px;
   margin: 0;
   padding: 0;
}
h1,h2,h3,h4,h5,h6,p,ul {
   padding: 0;
   margin: 0;
}
img{
   display: block;
}
ul, ol {
   list-style-type: none;
}
a{
   text-decoration: none;
   color: var(--main);
   font-style: normal;
}
button{
   border: none;
}
form {
   margin: 0;
   padding: 0;
   box-sizing: content-box;
}
input {
   margin: 0;
   padding: 0;
   font-family: inherit;
   box-sizing: content-box;
}
textarea {
   resize: none;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.container{
   max-width: 1158px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;

}
.current{
   position: relative;
   color: var(--acent);

}
.current::after{
   position: absolute;
   border-radius: 4px;
   bottom: -1px;
   content: "";
   display: block;
   height: 4px;
   width: 100%;
   background-color: var(--hover);
}
/*navigation*/
.header{
      border-bottom: 1px solid var(--border);
}
.header-section{
   display: flex;
   align-items: center;

}

.navigation{
   display: flex;
   align-items: center;
}
.contact-list{
   display: flex;
   gap: 40px;
}
.address{
   margin-left: auto;
}
.logo{
   text-transform: uppercase;
   font-family: Raleway;
   font-size: 18px;
   font-weight: 800;
   line-height: 1.167;
   letter-spacing: 0.03em;
   margin-right: 76px;
}
.logo-accent{
   color: var(--acent);
}
.nav-list{
   display: flex;
   list-style-type: none;
   gap:40px;

}
.nav-list-link {
   font-weight: 500;
   text-decoration: none;
   display: block;
   padding: 24px 0;
   transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   
}
.nav-list-link:hover, .nav-list-link:focus {
   color: var(--hover)
}
.contact-list-link{
   color: var(--secondary);
   padding: 24px 0;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.contact-list-link:hover, .contact-list-link:focus{
   color: var(--hover);
}

/*hero*/
.hero-section{
   background-color: var(--main);
   padding: 188px 0;
   max-width: 1440px;
   margin: 0 auto;

}
.hero-section {
   background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
background-repeat: no-repeat;
   background-position: center;

}
.hero-title{
   color:var(--white);
   font-family: 'Roboto';
   font-size: 56px;
   line-height: 1.0714;
   text-align: center;
   margin-bottom: 48px;
   margin-left: auto;
   margin-right: auto;
   max-width: 496px;

}
.hero-button{
   background-color:var(--acent);
   color:var(--white);
   font-weight: 500;
   letter-spacing: 0.04em;
   font-size:16px;
   font-family:'Roboto', sans-serif;
   line-height: 1.5;
   cursor:pointer;
   display: block;
   margin: 0 auto;
   padding: 16px 32px;
   border-radius: 4px;
   transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}
.hero-button:hover, .hero-button:focus{
   background-color:var(--hover)
}
/*feachers*/
.feacher-section {
   padding: 120px 0;
}
.feacher-list{
   display: flex;
   gap: 24px;
}
.feacher-title {
   display: none;
}
.feacher-list-item{
   flex-basis: calc((100% - 72px) / 4);
}
.feacher-subtitle{
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   margin-bottom: 8px;
}

.fecher-icon-contaner{
   height: 112px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   background-color: var(--backgound-secondary);
   margin-bottom: 8px;
}
/*works*/
.services-section{
   padding-bottom: 120px;
   text-align: center;
}
.services-title{
      font-size: 36px;
      line-height: 1.11;

      margin-left: auto;
      margin-right: auto;
      margin-bottom: 72px;
}
.services-list {
   display: flex;
   gap:24px;
}
/*team*/
.team-section{
   background-color: var(--backgound-secondary);
   padding-top: 120px;
   padding-bottom: 120px;
   text-align: center;
}
.team-title{
      font-size: 36px;
      line-height: 1.11;
      margin-bottom: 72px;

}
.team-list {
   display: flex;
   gap: 24px;
}
.team-list-item {
   flex-basis: calc((100%-72px)/4);
   background-color: var(--white);
   border-radius: 4px;
   padding-bottom: 32px;
   box-shadow: 0px 2px 1px 0px #2E2F4214;

   box-shadow: 0px 1px 1px 0px #2E2F4229;

   box-shadow: 0px 1px 6px 0px #2E2F4214;

}
.team-names{
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 8px;
}
.team-img {
   margin-bottom: 32px;
}
.team-position{
   margin-bottom: 8px;
}
.social-list-item{
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--acent);
   border-radius: 100%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.social-list-item:hover , .social-list-item:focus{
   cursor: pointer;
   background-color: var(--hover);
}
/*customer*/
.customer-section{
   text-align: center;
   padding: 120px 0;
}
.customer-list{
   display: flex;
   justify-content: center;
   gap: 0 24px;
}
.customer-title {
   margin-bottom: 72px;
   font-family: Roboto;
   font-size: 36px;
   line-height: 1.111;
   text-align: center;
}
.customer_link{
   border: 1px solid var(--clint-icon);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   gap: 0 24px;
   width: 168px;
   height: 88px;

}
.customer-icon{
   fill: var(--clint-icon);
}
.customer_link:hover, .customer_link:focus{
   border: 1px solid var(--acent);
}

.customer_link:hover .customer-icon,
.customer_link:focus .customer-icon {
   fill: var(--hover)
}
/*footer*/
.footer{
   padding: 100px 0;
   background-color: var(--main);
}
.footer .container {
   display: flex;
}
.inner-container {
   max-width: 264px;
   margin-right: 120px;
}
.footer-logo{
   display: block;
   font-family: Raleway;
   font-size: 18px;
   font-weight: 800;
   line-height: 1.167;
   letter-spacing: 0.03em;
   color: var(--white);
   margin-bottom: 16px;

}

.footer-discription{
   color:var(--white);
}
.footer-social-title {
   font-family: Roboto;
   font-weight: 500;
   line-height: 1.5;

   color:var(--white);
   margin-bottom: 16px;
}
.social-link-list {
   display: flex;
   gap: 0 24px;
   justify-content: center;
}
.social-link-list.footer_link_list {
   gap: 0 16px;
}
.social-icon{
   fill:var(--white);
}

.social-list-item.footer_icon:hover,
.social-list-item.footer_icon:focus {
   width: 40px;
   height: 40px;
   cursor: pointer;
   background-color: #31D0AA;;
}
.subscription-container{
   margin-left: auto;

}
.subscribe-form{
   display: flex;
   align-items: end;
}
.subscribe-btn{
   display: flex;
   width: 165px;
   height: 40px;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   background-color: var(--acent);
   cursor: pointer;
}
.btn-title{
   color: var(--white);
   margin-right: 16px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.04em;
      text-align: center;
}
.subscribe-input{
   margin-top: 16px;
   display: block;
   margin-right: 24px;
   width: 232px;
   height: 40px;
   background-color: var(--main);
   padding: 0 16px;
   border: 1px solid var(--white);
   border-radius: 4px;
   color: var(--white);
}
.subscribe-input::placeholder{
   color: var(--white);
}

.form-label{
   display: inline-block;

   line-height: 24px;
   font-family: Roboto;
   color: var(--white);
   font-weight: 500;

   font-size: 16px;
   letter-spacing: 0.02em;
}

/*portfolio page*/
.portfolio-section {
   padding-top: 96px;
   padding-bottom: 120px;
   
}
.portfolio-nav-button{
   color: var(--acent);
   background-color: var(--backgound-secondary);
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   text-align: center;
   padding: 12px 24px;
   font-size: 16px;
   font-family: 'Roboto', sans-serif;
   cursor: pointer;
   border-radius: 4px;
   border: 1px solid var(--border);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.portfolio-nav-button:hover, .portfolio-nav-button:focus{
   color:var(--white);
   background-color: var(--hover);
   box-shadow: 0px 4px 4px 0px #00000026;
}
.portfolio-subtitle{
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 8px;
}
.portfolio-work-attribute{
   color:var(--secondary)
}
.portfolio-inner-container{
   width: 100%;
   display: grid;
   justify-content: center;
}
.portfolio-button-list {
   margin-bottom: 72px;
   display: flex;
   gap: 24px;
   justify-content: center;

}
.portfolio-works-list {
   display: flex;
   flex-wrap: wrap;
   gap: 48px 20px;
}
.inner-container-works{
   padding: 32px 16px;
   border-bottom: 1px solid var(--border);
   border-left: 1px solid var(--border);
   border-right: 1px solid var(--border);

}
.overlay-container{
   position: relative;
   overflow: hidden;
}
.overlay {
   padding: 40px 32px;
   background-color: var(--acent);
   color: #fff;
   font-family: sans-serif;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.portfolio-works-item:hover .overlay, .portfolio-works-item:focus .overlay{
   transform: translateY(0);
}
.portfolio-works-item:hover .inner-container-works, .portfolio-works-item:focus .inner-container-works{
box-shadow: 0px 2px 1px 0px #2E2F4214;

   box-shadow: 0px 1px 1px 0px #2E2F4229;

   box-shadow: 0px 1px 6px 0px #2E2F4214;

}

/* Modal window */
.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(46, 47, 66, 0.4);

   /* opacity: 1;
  visibility: initial;
  pointer-events: all; */

   transition: opacity 300ms ease-in, visibility 300ms ease-in;
   transition-delay: 0s;
}

.backdrop.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition-delay: 300ms;
}

.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   max-width: 408px;
   width: 100%;
   min-height: 584px;
   background: #fcfcfc;
   border-radius: 4px;
   box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 1px 1px 0 rgba(0, 0, 0, 0.14);

   transition: transform 300ms ease-in, opacity 300ms ease-in;
   transition-delay: 0s;
   padding: 24px;
   padding-top: 72px;
}

.backdrop.is-hidden .modal {
   opacity: 0;
   transform: translateX(-50%) translateY(-70%);
   transition-delay: 300ms;
}


.close-btn{
   top: 24px;
   right: 24px;
   background-color: var(--border);
   position: absolute;
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 100%;
   border: 1px solid #0000001A;
   fill: var(--main);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, backgound-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.close-btn:hover{
   fill: var(--white);
   background-color: var(--hover);
   border: 1px solid var(--hover);
}
.order-btn-label{
   display: flex;
   justify-content: center;
}

.order-form .input-label {
   display: flex;
   flex-direction: column;
}
.input-contact-form{
   height: 40px;
   padding: 0 8px;
   padding-left: 38px;
   padding-right: 16px;
  
   
}
.input-contact-form, .order-comment {
   border: 1px solid  #2E2F4266;
   border-radius: 4px;
   font-family: "Roboto";
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.04em;
   color: var(--clint-icon);
   transition:border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.input-label:focus-within .input-contact-form,
.input-label:focus-within .order-comment
{
   outline:1px solid transparent;
   border: 1px solid var(--acent);
}


.input-label{
   position: relative;
}
.form-icon{
   fill: black;
   position: absolute;
   top:35px;
   left: 16px;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.input-label:focus-within .form-icon{
   fill: var(--hover);
}

.contact-form-titel{
      font-weight: 500;
      text-align: center;
      margin-bottom: 16px;
}
.contact-form-text{
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.04em;
   color:var(--clint-icon);
   margin-bottom: 4px;
   margin-top: 8px;
}
.order-comment{
   padding: 8px 16px;
}
.order-comment::placeholder {
   font-family: "Roboto";
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.04em;
      color: #2E2F4266;
}
.order-submit-btn{
   margin-top: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 169px;
   height: 56px;
   background-color: var(--acent);
   color: var(--white);
   border-radius: 4px;
   cursor: pointer;
}


.privat_policy_text {
   margin-left: 8px;
   margin-right: 4px;
}
.privat_policy_link, .privat_policy_text {
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.04em;
   color: var(--clint-icon);
}
.privat_policy_link {
   color: var(--acent);
   text-decoration: underline;
}
.privat_policy_label {
   margin-top: 16px;
   display: flex;
   cursor: pointer;
}
.privat_policy_label input[type="checkbox"] {
   cursor: pointer;
}