:root{
   --main:#2E2F42;
   --white: #FFFFFF;
   --acent:#4D5AE5;
   --hover:#404BBF;
   --backgound-secondary: #F4F4FD;
   --secondary: #434455;
}
/*main*/
body {
   font-family: 'Roboto', sans-serif;
   color:var(--main);
   line-height: 1.5;
   letter-spacing: 0.02em;
   font-size: 16px;
   margin: 0;
   padding: 0;
}
img{
   display: block;
}
ul, ol {
   list-style-type: none;
}
a{
   text-decoration: none;
   color: var(--main);
   font-style: normal;
}
button{
   border: none;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.container{
   max-width: 1440px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;

}
/*navigation*/
.logo{
   text-transform: uppercase;
   font-family: Raleway;
   font-size: 18px;
   font-weight: 800;
   line-height: 1.167;
   letter-spacing: 0.03em;
}
.logo-accent{
   color: var(--acent);
}
.nav-list{
   font-weight: 500;
   list-style-type: none;
}
.nav-list-link:hover, .nav-list-link:focus {
   color: var(--hover)
}
.contact-list-link{
   color: var(--secondary);
}
.contact-list-link:hover, .contact-list-link:focus{
   color: var(--hover)
}
.nav-list-link {
   text-decoration: none;
}
/*hero*/
.hero-section{
   background-color: var(--main);
}
.hero-title{
   color:var(--white);
   font-family: Roboto;
   font-size: 56px;
   line-height: 1.07;

}
.hero-button{
   background-color:var(--acent);
   color:var(--white);
   font-weight: 500;
   letter-spacing: 0.04em;
   font-size:16px;
   font-family:'Roboto', sans-serif;
   line-height: 1.5;
   cursor:pointer;

}
.hero-button:hover, .hero-button:focus{
   background-color:var(--hover)
}
/*feachers*/
.feacher-title {
   display: none;
}
.feacher-subtitle{
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;

}

/*works*/
.services-title{
      font-size: 36px;
      line-height: 1.11;
}
/*team*/
.team-section{
   background-color: var(--backgound-secondary);
}
.team-title{
      font-size: 36px;
      line-height: 1.11;

}
.team-names{
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
}

/*footer*/
.footer{
   background-color: var(--main);
}

.footer-logo{
   font-family: Raleway;
   font-size: 18px;
   font-weight: 800;
   line-height: 1.167;
   letter-spacing: 0.03em;
   color: var(--white);
}

.footer-discription{
   color:var(--white);
}
/*portfolio page*/
.portfolio-nav-button{
   color: var(--acent);
   background-color: var(--backgound-secondary);
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   text-align: center;
   font-size: 16px;
   font-family: 'Roboto', sans-serif;
   cursor: pointer;
}
.portfolio-nav-button:hover, .portfolio-nav-button:focus{
   color:var(--white);
   background-color: var(--hover);
}
.portfolio-subtitle{
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
}
.portfolio-work-attribute{
   color:var(--secondary)
}