/*main*/
:root {


   --primary-brand: #4D5AE5;
   --pressed-state:#404BBF;
   --dark:#2E2F42;
   --success:#31D0AA;
   --text: #434455;
   --subtle-text:#8E8F99;
   --accent:#E7E9FC;
   --light:#F4F4FD;
   --white:#ffffff;
   --modal-background:#FCFCFC;
   --accents:#2E2F4266;

}

/*main*/
body {
   box-sizing: content-box;
   font-family: 'Roboto', sans-serif;
   color: var(--main);
   line-height: 1.5;
   letter-spacing: 0.02em;
   font-size: 16px;
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
   padding: 0;
   margin: 0;
}

img {
   display: block;
}

ul,
ol {
   list-style-type: none;
}

a {
   text-decoration: none;
   color: var(--main);
   font-style: normal;
}

button {
   border: none;
   cursor: pointer;
}

form {
   margin: 0;
   padding: 0;
   box-sizing: content-box;
}

input {
   margin: 0;
   padding: 0;
   font-family: inherit;
   box-sizing: content-box;
}

textarea {
   resize: none;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}


.container {
   min-width: 320px;
   max-width: 1158px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}

/*header*/
.logo{
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   font-family: Raleway;
   font-size: 18px;
   font-weight: 800;
   line-height: 1.16;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
.logo-accent{
   color:var(--primary-brand)
}
.header-section {
   display: none;
}
.header-section {
   border-bottom: 1px solid var(--accent)
}
@media (min-width:768px) {
   .header-section{
      display: flex;
   }
   .logo{
      margin-right: 120px;
   }
   .navigation{
      display: flex;
   }
   .nav-list{
      display: flex;
      gap: 40px;
   }
   .address{
      margin-left: auto;
      display: flex;
      align-items: center;
   }
   .current{
      position: relative;
      color: var(--primary-brand);
   
   }
   .current::after{
      position: absolute;
      border-radius: 4px;
      bottom: -1px;
      content: "";
      display: block;
      height: 4px;
      width: 100%;
      background-color: var(--pressed-state);
   }
   .nav-list-link {
      font-weight: 500;
      text-decoration: none;
      display: block;
      padding: 24px 0;
      transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      
   }
   .nav-list-link:hover, .nav-list-link:focus {
      color: var(--pressed-state)
   }
   .contact-list-item{
      line-height: 1.16;
   }
   .contact-list-link{
      color: var(--text);
      padding: 24px 0;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.04em;
   }
   .contact-list-link:hover, .contact-list-link:focus{
      color: var(--pressed-state);
   }
   .contact-list-link{
      padding: 0;
   }
   .contact-list >:first-child {
      margin-bottom: 12px;
  }
}
@media (min-width:1158px) {
   .contact-list{
      height: 100%;
      display: flex;
      gap: 40px;
      flex-direction: row;
      
   }
.contact-list >:first-child {margin-bottom: 0;}
   .contact-list-item{
      display: flex;
      align-items: center;
   }
   .contact-list-link{
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.02em;
         padding: 24px 0;
   }
}
/*hero*/
.hero-section {
   height: 432px;
   background-image: linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   object-fit: scale-down;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

@media (min-resolution: 192dpi) {
   .box {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                  rgba(46, 47, 66, 0.7)), url(../images/hero-bg@2x.jpg);
   }
}
.hero-title{
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      color: var(--white);
      margin-bottom: 72px;
      text-transform: capitalize;
      padding: 0 39px;
}

.hero-button{

   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   background-color: var(--primary-brand);
   color: var(--white);
   width: 169px;
   height: 56px;
   border-radius: 4px;
   font-weight: 500;
   letter-spacing: 0.04em;
   line-height:1.5;

}
.hero-button:hover,
.hero-button:focus {
   background-color: var(--pressed-state)
}

@media (min-width:768px) {
   .hero-title {
      font-size: 56px;
      line-height: 1.07;
   }

}
/*feaher*/
@media (max-width:1157px) {
   .feacher-icon {
         display: none;
      }
}
.feacher-list{
   padding: 96px 0;
}
.feacher-subtitle{
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      margin-bottom: 8px;
      color: var(--dark);
}
.feacher-description{
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 72px;
      color: var(--text);

}
.feacher-list-item{
   min-width: 290px;
}
@media (min-width:768px) {
   .feacher-list{
      display: flex;
      flex-wrap: wrap;
      gap: 72px 24px;
      justify-content: center;
   }
   .feacher-list-item{
      flex-basis: calc((100% - 24px) / 2);
      max-width: 365px;
   }

}
@media (min-width:1158px) {
   .feacher-subtitle{
         font-size: 20px;
         font-weight: 500;
         line-height: 1.25;
   }
   .feacher-description{
         font-size: 16px;
         font-weight: 400;
         line-height: 1.5;
   }
   .feacher-list {
      display: flex;
      gap: 72px 24px;
      justify-content: center;
   }

   .feacher-list-item {
      flex-basis: calc((100% - 72px) / 4);
      min-width: 264px;
   }
   .fecher-icon-contaner{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--light);
      height: 114px;
      margin-bottom: 8px;
   }
}
/*service*/
@media (max-width:1157px) {
   .services-section{
      display: none;
   }
}
@media (min-width:1158px) {
   .services-list {
         display: flex;
         gap: 24px;
         margin-bottom: 120px;
      }
      .services-title{
         margin-bottom: 72px;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.16;
            text-align: center;
            color:var(--dark)
      }

   
}


/*team*/
.team-title{
   margin-bottom: 72px;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      color: var(--dark);;
}
.team-list-item{
   background-color: var(--white);
   padding-bottom: 32px;
   margin-bottom: 72px;
   border-radius: 4px;
   box-shadow: 0px 2px 1px 0px #2E2F4214;
   
      box-shadow: 0px 1px 1px 0px #2E2F4229;
   
      box-shadow: 0px 1px 6px 0px #2E2F4214;
}
.team-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.team-img{
   margin-bottom: 32px;
}
.team-section{
   background-color: var(--light);
   padding: 96px 0;
}
.team-names{
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      text-align: center;
      color:var(--dark);
      margin-bottom: 8px;
}

.team-position {
   line-height: 1.5;
   text-align: center;
   color: var(--text);
   margin-bottom: 8px;
}
.social-link-list {
   display: flex;
   gap: 0 24px;
   justify-content: center;
}
.social-list-item {
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--primary-brand);
   border-radius: 100%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.social-list-item:hover,
.social-list-item:focus {
   cursor: pointer;
   background-color: var(--pressed-state);
}
.social-icon{
   fill:var(--white);
   }
@media (min-width:769px) {
   .team-list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 64px 24px;
      max-width: 552px;
   }
}


@media (min-width:1158px) {
   .team-list {
      max-width: 1128px;
   }

   .social-list-item:hover,
   .social-list-item:focus {
      background-color: var(--pressed-state)
   }

}

/*customer*/
.customer-section{
   padding: 96px 0;
}
.customer-title{
   font-size: 36px;
   line-height: 1,11;
   text-align: center;
   color: var(--dark);
   margin-bottom: 72px;
}
.customer-list{
   display: flex;
   flex-wrap: wrap;
   gap: 72px 16px;
   max-width: 396px;
   margin: 0 auto;
}
.customer-list-item{
   border: 1px solid var(--subtle-text);
   border-radius: 4px;
   flex-basis: calc((100% - 46px) / 2);
   max-width: 190px;
}
.customer-icon{
   fill:var(--subtle-text)
}

.customer-list-item:hover,
.customer-list-item:focus {
   border: 1px solid var(--primary-brand);
}

.customer-list-item:hover .customer-icon,
.customer-list-item:focus .customer-icon {
   fill: var(--primary-brand)
}
.customer-list-item{
   display: flex;
   justify-content: center;
   align-items: center;
}
@media (min-width:768px) {
   .customer-list{
      max-width: 552px;
   }
   .customer-list-item  {
      flex-basis: calc((100% - 48px) / 2);
      max-width: 168px;
   }

}
@media (min-width:1158px) {
   .customer-list{
      max-width: 1128px;

   }
   
}
/*footer*/
.footer {
   padding: 96px 0;
   background-color: var(--dark);
   text-align: center;
}

.footer .container {
   display: flex;
   flex-direction: column;
   gap: 72px 0;

}

.inner-container {
   max-width: 264px;
   margin-right: 120px;
   text-align: center;
   margin: 0 auto;
}

.footer-logo {
   margin: 0 auto;
   display: block;
   font-family: Raleway;
   font-size: 18px;
   font-weight: 800;
   line-height: 1.167;
   letter-spacing: 0.03em;
   color: var(--white);
   margin-bottom: 16px;

}

.footer-discription {
   color: var(--white);
      line-height: 1.5;
      text-align: left;

}

.footer-social-title {
   font-family: Roboto;
   font-weight: 500;
   line-height: 1.5;

   color: var(--white);
   margin-bottom: 16px;

}

.social-link-list {
   display: flex;
   gap: 0 24px;
   justify-content: center;
}

.social-link-list.footer_link_list {
   gap: 0 16px;
}

.social-icon {
   fill: var(--white);
}

.social-list-item.footer_icon:hover,
.social-list-item.footer_icon:focus {
   width: 40px;
   height: 40px;
   cursor: pointer;
   background-color: #31D0AA;
   ;
}
.subscription-container{
   display: inline-block;
   width: 100%;
}
.subscription-container label{
   width: 100%;
}
.subscribe-form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}
.form-label{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color:var(--white);
   margin-bottom: 16px;
}
.subscribe-input{

   display: inline-block;
   width: 100%;
   background-color: inherit;
   border: 1px solid var(--subtle-text);
   outline: 0px solid transparent;
   box-shadow: 0px 4px 4px 0px #00000026;
   height: 40px;
   box-sizing:border-box;
   padding: 0 15px;
   margin-bottom: 16px;
   max-width: 398px;
   color: var(--white);
  
}
.subscribe-input::placeholder {
   color: var(--white);
}
.subscribe-btn{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--primary-brand);
   color: var(--white);
   width: 165px;
   height: 40px;
   border-radius: 4px;   
}
.subscribe-btn:hover,
.subscribe-btn:focus {
   background-color: var(--pressed-state);
}
.btn-title {
   margin-right: 16px;

   font-size: 16px;
   font-weight: 500;
   letter-spacing: 0.04em;
   text-align: center;
}
@media (min-width:768px) {
   .footer .container{
      max-width: 526px;
      margin: 0 auto;
      flex-direction: row;
      flex-wrap: wrap;
   }
   .inner-container{
      margin: 0;
      margin-right: 24px;
   }
   .subscribe-form{
      flex-direction: row;
   }
   .subscribe-form label{
      margin-right: 24px;
      width: 264px;
   }
   .subscribe-input{
      max-width: 264px;
      justify-content: space-between;
   }
   .subscription-container  {
      max-width: 456px;
      display: flex;
      flex-direction: row
      ;
   }
   .subscribe-input{
      width: 264px;
      margin-bottom: 0;
   }
   .btn-container{
      height: 100%;
      display: flex;
      align-items: end;
   }
   .form-label {

      align-items: start;
   }

}
@media (min-width: 1158px) {
   .footer .container{
   max-width: 1158px;
   margin: 0 auto;
   flex-direction: row;

}
   .subscription-container{
      margin-left: auto;
   }
   .inner-container{
      margin-right: 120px;
   }
   .subscribe-form{
      align-self: start;
   }
   .btn-container{
      align-self: flex-end;
   }
}
/*.subscribe-form {
   display: flex;
   flex-direction: column;
   min-width: 320px;
}

.subscribe-btn {
   display: flex;
   width: 165px;
   height: 40px;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   background-color: var(--primary-brand);
   cursor: pointer;
}

.btn-title {
   color: var(--white);
   margin-right: 16px;
   font-family: Roboto;
   font-size: 16px;
   font-weight: 500;
   letter-spacing: 0.04em;
   text-align: center;
}

.subscribe-input {
   width: 100%;
   height: 40px;
   background-color: var(--main);
   padding: 0 16px;
   border: 1px solid var(--white);
   border-radius: 4px;
   color: var(--white);
}

.subscribe-input::placeholder {
   color: var(--white);
}

.form-label {
   display: inline-block;
   line-height: 1.5;
   color: var(--white);
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 0.02em;
}*/
/* Modal window */
.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(46, 47, 66, 0.4);

   /* opacity: 1;
  visibility: initial;
  pointer-events: all; */

   transition: opacity 300ms ease-in, visibility 300ms ease-in;
   transition-delay: 0s;
}

.backdrop.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition-delay: 300ms;
}

.modal {
   box-sizing: content-box;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   max-width: 408px;
   width: 100%;
   min-height: 584px;
   background: #fcfcfc;
   border-radius: 4px;
   box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 1px 1px 0 rgba(0, 0, 0, 0.14);

   transition: transform 300ms ease-in, opacity 300ms ease-in;
   transition-delay: 0s;
   padding: 24px;
   padding-top: 72px;
   max-width: 392px;
}
@media (min-width:768px) {
   .modal{
      max-width: 408px;
   }
   
}
.backdrop.is-hidden .modal {
   opacity: 0;
   transform: translateX(-50%) translateY(-70%);
   transition-delay: 300ms;
}


.close-btn {
   top: 24px;
   right: 24px;
   background-color: var(--accent);
   position: absolute;
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 100%;
   border: 1px solid #0000001A;
   fill: var(--main);
   cursor: pointer;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, backgound-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.close-btn:hover {
   fill: var(--white);
   background-color: var(--pressed-state);
   border: 1px solid var(--pressed-state);
}

.order-btn-label {
   display: flex;
   justify-content: center;
}

.order-form .input-label {
   display: flex;
   flex-direction: column;
}

.input-contact-form {
   height: 40px;
   padding: 0 8px;
   padding-left: 38px;
   padding-right: 16px;
   border: 1px solid 1px solid var(--accents);


}

.input-contact-form,
.order-comment {
   border: 1px solid var(--accent);
   border-radius: 4px;
   font-family: "Roboto";
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.04em;
   color: var(--clint-icon);
   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.input-label:focus-within .input-contact-form,
.input-label:focus-within .order-comment {
   outline: 1px solid transparent;
   border: 1px solid var(--primary-brand);
}


.input-label {
   position: relative;

}

.form-icon {
   fill: black;
   position: absolute;
   top: 35px;
   left: 16px;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.input-label:focus-within .form-icon {
   fill: var(--pressed-state);
}

.contact-form-titel {
   font-weight: 500;
   text-align: center;
   margin-bottom: 16px;
}

.contact-form-text {
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.04em;
   color: var(--clint-icon);
   margin-bottom: 4px;
   margin-top: 8px;
}

.order-comment {
   padding: 8px 16px;
}

.order-comment::placeholder {
   font-family: "Roboto";
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.04em;
   color: var(--accent)
}

.order-submit-btn {
   margin-left: auto;
   margin-right: auto;
   margin-top: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 169px;
   height: 56px;
   background-color: var(--primary-brand);
   color: var(--white);
   border-radius: 4px;
   cursor: pointer;
   background-color:var(--primary-brand);
}


.privat_policy_text {
   margin-left: 8px;
   margin-right: 4px;
}

.privat_policy_link,
.privat_policy_text {
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.04em;
   color: var(--clint-icon);
}

.privat_policy_link {
   color: var(--primary-brand);
   text-decoration: underline;
}

.privat_policy_label {
   margin-top: 16px;
   display: flex;
   cursor: pointer;

}

.privat_policy_label input[type="checkbox"] {
   cursor: pointer;
}

.custom-checkbox {
   width: 16px;
   height: 16px;
   border: 1px solid var(--accent);
   display: inline-flex;
   align-items: center;
   justify-content: center;
   fill: transparent;

}

.modal-checkbox:checked+.custom-checkbox {
   background-color: #404BBF;
   border: none;
   fill: #fff;
}

/*mobile menue


*/
.icon-burger_menu{
    fill:var(--dark)

}
@media (min-width:768px) {
   .mob-container {
      display: none;
   }
}
.mobile-nav {
   width: 100%;
   display: flex;
   justify-content: space-between;
   height: 70px;

}
.mobile-btn-icon {
   margin-left: auto;
}
.menu-toggle {
   min-height: 40px;
   min-width: 40px;
   align-items: center;
   justify-content: center;
   margin: 0;
   padding: 0;
   background-color: transparent;
   cursor: pointer;
   border: none;
   border-radius: 50%;
   outline: none;

}
@media (min-width: 768px) {
   .menu-toggle {
      display: none;
   }
}
.menu-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   padding: 32px;
   background-color: var(--white);
   z-index: 999;
   transform: translateX(100%);
   transition: transform 250ms ease-in-out;
   padding: 40px;
   padding-top: 80px;
}
.menu-container.is-open {
   transform: translateX(0);
}

.menu-container .menu-toggle {
   position: absolute;
   top: 16px;
   right: 16px;
   color: #fff;
}

.mobile-menu {
   padding: 0;
   margin: 0;
   list-style: none;
}

.mobile-menu .link {
   display: block;
   padding: 10px;
   color: #fff;
   text-decoration: none;
}
.mobile-nav-menu{
   margin-bottom: 284px;

}
.mobile-nav-menu .nav-list-link{
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11;
}
.mobile-nav-menu li{
   margin-bottom: 40px;
   color: var(--dark);
}
.mobile-nav-menu .current {
   color: var(--pressed-state);
}
.mobile-address {
   margin-bottom: 40px;
}
@media (max-width:727px) {
   .contact-list >:first-child {
      margin-bottom: 40px;
   }
}
.contact-phone-link{
   font-size: 36px; 
   font-weight: 700;
   line-height: 1.11;
   color: var(--primary-brand);
}
.contact-mail-link{
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      color:var(--text)
}
.mobile_link_list{
   justify-content: space-between;
}
.mob-close-btn {
   top: 24px;
   right: 24px;
   background-color: var(--accent);
   position: absolute;
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 100%;
   border: 1px solid #0000001A;
   fill: var(--main);
   cursor: pointer;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, backgound-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/*portfolio page*/
.portfolio-section {
   padding-top: 96px;
   padding-bottom: 120px;

}

.portfolio-nav-button {
   color: var(--primary-brand);
   background-color: var(--light);
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   text-align: center;
   padding: 12px 24px;
   font-size: 16px;
   font-family: 'Roboto', sans-serif;
   cursor: pointer;
   border-radius: 4px;
   border: 1px solid var(--accent);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.portfolio-nav-button:hover,
.portfolio-nav-button:focus {
   color: var(--white);
   background-color: var(--pressed-state);
   box-shadow: 0px 4px 4px 0px #00000026;
}

.portfolio-subtitle {
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   margin-bottom: 8px;
}

.portfolio-work-attribute {
   color: var(--text)
}

.portfolio-inner-container {
   width: 100%;
   display: grid;
   justify-content: center;
}

.portfolio-button-list {
   margin-bottom: 72px;
   display: flex;
   flex-wrap: wrap;
   max-width: 428px;
   gap: 24px;
   justify-content: start;
   margin-left: auto;
   margin-right: auto;

}

.portfolio-works-list {
   display: flex;
   flex-wrap: wrap;
   gap: 48px 20px;
   max-width: 468px;
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
}

.inner-container-works {
   padding: 32px 16px;
   border-bottom: 1px solid var(--accent);
   border-left: 1px solid var(--accent);
   border-right: 1px solid var(--accent);

}

.overlay-container {
   position: relative;
   overflow: hidden;
}

.overlay {
   padding: 40px 32px;
   background-color: var(--primary-brand);
   color:var(--white);
   font-family: sans-serif;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.portfolio-works-item{
   max-width:396px ;
}

.portfolio-works-item:hover .overlay,
.portfolio-works-item:focus .overlay {
   transform: translateY(0);
}

.portfolio-works-item:hover .inner-container-works,
.portfolio-works-item:focus .inner-container-works {
   box-shadow: 0px 2px 1px 0px #2E2F4214;

   box-shadow: 0px 1px 1px 0px #2E2F4229;

   box-shadow: 0px 1px 6px 0px #2E2F4214;

}

@media (min-width:768px) {
   .portfolio-works-list{
      max-width: 768px;
      justify-content: start;

   }
   .portfolio-button-list {
         justify-content: center;
            max-width: 768px;

      }
   .portfolio-works-item{
      max-width: 356px;
   }
   }
@media (min-width:1158px) {
   .portfolio-works-list{
      max-width: 1128px;
      justify-content: center;
   }
   
}